body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flexbox {
    display: flex;
    height: 100vh;
  }

.sidebar-flexbox {
    flex: 0 0 6vw;
  }

.bookmarkcontainer-flexbox {
    flex: 1;
    padding: 1vw 75px;
    background: #f5f5f5;
}

.sidebar {
    max-width: 75px;
    background: rgb(41,171,226);
    background: linear-gradient(0deg, rgba(41,171,226,1) 0%, rgba(255,123,172,1) 100%);
}

.sidebar img {
    margin: 12.5%;
}

.search-area {
    height:80px;
}

.search-area input {
    height: 66px;
    border: none;
    font-size: 50px;
    padding: 0px;
    outline-style: none;
    width: 100%;
    box-shadow: none;
    border-color: transparent;
    border-right: 1px solid transparent;
    background-color: transparent;
}

.search-area .slinky-search-underscore{
    height: 5px;
    background: rgb(41,171,226);
    background: linear-gradient(240deg, rgba(41,171,226,1) 0%, rgba(255,123,172,1) 100%);
    position: relative;
    margin-bottom: 50px;
}

.search-area .bookmark-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1%;
    grid-row-gap: 10%;
}

.search-area .bookmark {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 60px;
    border-radius: 50px;
    background: white;
}

.search-area .bookmark:hover {
    background: rgb(41,171,226);
    background: linear-gradient(240deg, rgba(41,171,226,1) 0%, rgba(255,123,172,1) 100%);
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.15);
    color: #fff;
}

.search-area .bookmark .image-box {
    height: 59px;
    width: 59px;
    min-width: 59px;
    max-width: 59px;
    border-radius: 30px;
    margin-right: 5px;
    background-color: #fff;
}

.search-area .bookmark .image-box img {
    width: 101%;
    overflow: hidden;
}

.search-area .bookmark .content-box {
    width: 100%;
}

.search-area .bookmark .options-box {
    height: 60px;
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}

.search-area .bookmark .content-box h3 {
    margin: 0;
    margin-top: 4px;
    display: block;
    max-height: 27px;
    max-width: 23vw;
    white-space:nowrap;
    overflow: hidden;
}

.search-area .bookmark .options-box img {
    height: 30px;
    width: 30px;
    margin: 14px;
}

.search-area .bookmark .options-box img:hover {
    height: 30px;
    width: 30px;
    margin: 14px;

}




