body {
    margin: 0px
}

.flexbox {
    display: flex;
    height: 100vh;
  }

.sidebar-flexbox {
    flex: 0 0 6vw;
  }

.bookmarkcontainer-flexbox {
    flex: 1;
    padding: 1vw 75px
    
}

.sidebar {
    max-width: 75px;
    background: rgb(41,171,226);
    background: linear-gradient(0deg, rgba(41,171,226,1) 0%, rgba(255,123,172,1) 100%);
}

.sidebar img {
    margin: 12.5%;
}

.search-area {
    height:80px;
}

.search-area input {
    height: 66px;
    border: none;
    font-size: 50px;
    padding: 0px;
    outline-style: none;
    width: 100%;
    box-shadow: none;
    border-color: transparent;
    border-right: 1px solid transparent;

}

.search-area .slinkyUnderScoreLine{
    height: 5px;
    background: rgb(41,171,226);
    background: linear-gradient(240deg, rgba(41,171,226,1) 0%, rgba(255,123,172,1) 100%);
    position: relative;
}

.search-area .bookmark {
    display: inline-flex;
    width: 31%;
    height: 50px;
    border: 2px solid magenta;
    border-radius: 25px;
}